out
dist
node_modules
.vscode-test/
*.vsix
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/misc.xml
.idea/aws.xml
.idea/flutter-intl-text-assistance.iml
.idea/modules.xml
.idea/vcs.xml
